<ul>
    <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
    <li class="nav_level2">@Html.ActionLink("Über uns", "about", "home")</li>
    <li class="nav_level2">@Html.ActionLink("Impressum", "impressum", "home")</li>

    <li class="nav_level1">@Html.ActionLink("Campingplatz", "index", "campingplatz")</li>
    <li class="nav_level2">@Html.ActionLink("Infos", "infos", "campingplatz")</li>
    <li class="nav_level2">@Html.ActionLink("Preise", "preise", "campingplatz")</li>
    <li class="nav_level2">@Html.ActionLink("Bilder", "bilder", "campingplatz")</li>

    <li class="nav_level1">@Html.ActionLink("Reservierung", "index", "reservierung")</li>
    <li class="nav_level2">@Html.ActionLink("Anfrage", "anfrage", "reservierung")</li>


</ul>

